// bower:scss
// endbower
//@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

$animation-init-percentage: -100%;
$animation-normal-percentage: 0%;
$animation-end-percentage: 100%;

$animation-init-point: 0.85;
$animation-normal-point: 1;
$animation-end-point: 1.15;

$animation-speed: .5s;
$animation-easing: ease-in;

@mixin zero-margin-padding {
  margin: 0;
  padding: 0;
}

html, body {
  @include zero-margin-padding();
  height: 100%;
  overflow: hidden;
}

body {
  min-height: 100%;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background: #000;
}

#hello {
  position: absolute;
  z-index: 10;
  color: #333;
  background: #FFF;
  font-family: Droid Sans, Arial, sans-serif;
}

#app {
  perspective: 1200px;
  transform-style: preserve-3d;
  overflow: hidden;
}

#view {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-sizing: border-box;
  &.white {
    background: #FFF;
    border: 10px solid #000;
    color: #000;

  }
  &.black {
    background: #000;
    border: 10px solid #FFF;
    color: #FFF;

  }
  font-family: 'Droid Serif', serif;

  overflow-y: auto;
  .row {
    &:first-child {
      text-align: center;
    }
  }
}

#hello, #app, .view-wrap {

  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  &.show {
    animation: InAnimation $animation-speed $animation-easing both;
  }
  &.hide {
    animation: OutAnimation $animation-speed $animation-easing both;
  }
  &.strictly-hidden {
    display: none;
  }
}

.view-wrap {
  background: #000;
  opacity: 0;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;

  &.show-next {
    animation: nextInAnimation $animation-speed $animation-easing both;
  }
  &.show-prev {
    animation: prevInAnimation $animation-speed $animation-easing both;
  }
  &.hide-next {
    animation: nextOutAnimation $animation-speed $animation-easing both;
  }
  &.hide-prev {
    animation: prevOutAnimation $animation-speed $animation-easing both;
  }

  &.view {

  }
  .font-details {
    .row {
      &:first-child {
        text-align: center;
      }
    }
    opacity: 0.5;
    transform: scale(1.2) rotateX(90deg);
    box-sizing: border-box;
    &.white {
      background: #FFF;
      border: 10px solid #000;
      color: #000;

    }
    &.black {
      background: #000;
      border: 10px solid #FFF;
      color: #FFF;

    }
    h1 {
      font-size: 5.5em;
      font-weight: 200;
    }
    blockquote .small {
      color: inherit !important;
    }
    &.flipped {
      opacity: 1;
      transform: scale(1) rotateX(0deg);
    }
  }
  .font-view {
    display: flex;

    opacity: 1;
    transform: scale(1) rotateX(0deg);

    h1 {
      margin: auto;
      text-align: center;
    }

    &.flipped {
      opacity: 0.5;
      transform: scale(0.8) rotateX(90deg);
    }
  }

  .font-view, .font-details {
    transform-origin: top;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.6s ease-in;

  }
  &.with-details {
    height: 100%;
    overflow-y: auto;
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

@keyframes nextOutAnimation {
  from {
    opacity: 1;
    transform: translateX($animation-normal-percentage) scale($animation-normal-point);
  }
  to {
    opacity: 0;
    transform: translateX($animation-init-percentage) scale($animation-init-point);
  }
}

@keyframes nextInAnimation {
  from {
    opacity: 0;
    transform: translateX($animation-end-percentage) scale($animation-end-point);
  }
  to {
    opacity: 1;
    transform: translateX($animation-normal-percentage) scale($animation-normal-point);
  }
}

@keyframes prevOutAnimation {

  from {
    opacity: 1;
    transform: translateX($animation-normal-percentage) scale($animation-normal-point);
  }
  to {
    opacity: 0;
    transform: translateX($animation-end-percentage) scale($animation-end-point);
  }
}

@keyframes prevInAnimation {
  from {
    opacity: 0;
    transform: translateX($animation-init-percentage) scale($animation-init-point);
  }
  to {
    opacity: 1;
    transform: translateX($animation-normal-percentage) scale($animation-normal-point);
  }
}

@keyframes InAnimation {
  from {
    opacity: 0;
    transform: translateY($animation-end-percentage) scale($animation-init-point);
  }
  to {
    opacity: 1;
    transform: translateY($animation-normal-percentage) scale($animation-normal-point);
  }
}

@keyframes OutAnimation {

  from {
    opacity: 1;
    transform: translateY($animation-normal-percentage) scale($animation-normal-point);
  }
  to {
    opacity: 0;
    transform: translateY($animation-init-percentage) scale($animation-end-point);
  }
}
